body {
    display: grid;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

canvas {
    width: 60%;
    aspect-ratio: 480 / 360;
    border: solid;
    margin: auto;
}

.message {
    display: none;
    color: white; /* Ajout de la couleur du texte */
}

@media (orientation: portrait) {
    .message {
        display: block;
    }
}
